*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
    html {
        font-size: 50%;
    }    
}
body {
    font-family: "Nunito", sans-serif;
    color: #6d5d4b;
    font-weight: 300;
    line-height: 1.6;
}

/* Sections */
.section {
    display: flex;
    width: calc(100% / 1.4);
    position: relative;
    /* margin: 0 auto; */
}
    .section__img {
        width: 50.6rem;
        height: 51.7rem;
        object-fit: cover;
        object-position: 50% 50%;
    }
.section__a {
    float: left;
    overflow: hidden;
    /* -webkit-mask-image: none;
    -webkit-mask-position: 0; */
    background: transparent;
    vertical-align: baseline;

            
    }
.section__b {
    float: right;
    object-position: 50%; 
    /* overflow: hidden;
    /* -webkit-mask-image: none;
    -webkit-mask-position: 0; */
    /* background: transparent; */
    /* vertical-align: baseline; */
    background-color: #101d2c;
    /* color: #101d2c; */
    justify-content: center;
    justify-self: center;

    }
    

.student-life {

}
/* .student-info {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 51.7rem;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
    background-color: #101d2c;
} */



/*  */
/* Story Time */
/*  */
.mb-sm {
    margin-bottom: 2rem;
}
.mb-md {
    margin-bottom: 3rem;
}
.mb-lg {
    margin-bottom: 4rem;
}
.mb-hg {
    margin-bottom: 8rem;
}

.story__pictures {
    background-color: #c69963;
    grid-column: full-start /col-end 4 ;
    background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
    background-size: cover;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

}
@media only screen and (max-width:50em) {
    
}




/* Headers implementation */
.heading-1, .heading-2, .heading-3, .heading-4 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400; }
.heading-1 {
 font-size: 4.5rem;
 color: #f9f7f6;
 line-height: 1;
}
.heading-2 {
font-size: 4rem;
font-style: italic;
line-height: 1; 
}
.heading-2--light {
    color: #f9f7f6;
}
.heading-2--dark {
    color: #54483A;
}
.heading-3 {
    font-size: 1.6rem;
    color: #c69963;
    text-transform: uppercase;
}
.heading-4 {
    font-size: 1.9rem;}
    .heading-4--light {
        color: #f9f7f6;
    }
    .heading-4--dark {
        color: #54483A;
    }

.btn {
    background-color: #c69963;
    color: #ffff;
    border: none;
    border-radius: 0%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;
    /* size: 1.4rem; */
}
.btn:hover {
    background-color: #B28451;
}

.header {
    background-color: #54483A;
    grid-column: full-start/col-end 6;
    background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg) ;
    background-size: cover;
    padding: 8rem;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: 1fr min-content minmax(6rem, min-content);
    grid-row-gap: 1.5rem;
    justify-content: center;
}
@media only screen and(max-width: 50em) {
    .header {
        grid-column: 1/-1;
    }
}
@media only screen and(max-width: 37.5em) {
    .header {
        padding: 5rem;
    }    
}
.header__logo {
    height: 3rem;
    justify-self: start;
}
.header__btn {
    align-self: start;
    justify-self: start;
}
.header__seenon-text {
display: grid;
grid-template-columns: 1fr max-content 1fr;
grid-column-gap: 1.5rem;
align-items: center;
font-size: 1.6rem;
color: #aaa;
}
.header__seenon-text::before, .header__seenon-text ::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor;
}

.header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    align-items: center;
    justify-items: center;
}
    .header__seenon-logos img {
        max-height:  2.5rem;
        max-width: 100%;
        filter: brightness(70%);
    }

.journey {
    background-color: #101d2c;
    grid-column: col-start 7/full-end;
    padding: 3rem;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem
}
    @media only screen and  (max-width: 50em) {
        .journey {
            grid-column:  1/-1;
        }
    }
    .journey__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;
    }
    @media only screen and  (max-width: 50em) {
        .journey__list {
            grid-template-columns: repeat(3, min-content max-content);
        }
    }
    @media only screen and  (max-width: 37.5em) {
        .journey__list {
            grid-template-columns: repeat(3, min-content max-content);
        }
    }
.journey__img {
    width: 10rem;
    border-radius: 25%;
    display: block;
}
.journey__sold {
    text-transform: uppercase;
    color: #aaa;
    margin-top: -3px;
}






/* Footer Implementation */
.footer {
    background-color: #101d2c;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
}
    .nav__link:link, .nav__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family:"Josefin Sans", sans-serif;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }
    .nav__link:hover, .nav__link:active {
        background-color: rgba(255, 255, 255, 0.65);
        transform: translate(-3px);
    }
.copyright {
    font-size: 1.4rem;
    color: #aaa;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}